<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="RealEstateDatabaseConnection" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\RealEstate.mdb;Jet OLEDB:Database Password=carnie" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
  <add key="net.webservicex.www.globalweather" value="http://www.webservicex.net/globalweather.asmx"/>
  </appSettings>
</configuration>